<a href ng-click="overview.getServers()" class="pull-right" style="margin-top:10px">
    <span class="glyphicon glyphicon-refresh"></span>
</a>
<h1>Overview</h1>
<table class="table">
    <thead>
        <tr>
            <th>Server Name</th>
            <th>IP</th>
            <th>Port</th>
            <th>Game</th>
            <th>Map</th>
            <th>Players</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="server in overview.servers">
            <td>
                <span class="glyphicon glyphicon-stop" ng-style="server.online ? {color: 'green'}:{color: 'red'}"></span>
                {{ server.online ? server.server_name : 'OFFLINE' }}
            </td>
            <td>{{ server.ip_addr ? server.ip_addr : '-' }}</td>
            <td>{{ server.port ? server.port : '-' }}</td>
            <td>{{ server.game ? server.game : '-' }}</td>
            <td>{{ server.map ? server.map : '-' }}</td>
            <td>{{ server.player_count ? server.player_count + '/' + server.max_players : '-' }}</td>
            <td>
                <a ng-href="#/server/{{ server.id }}">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<form ng-submit="overview.addServer()">
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">IP Address</span>
                <input type="text" class="form-control" placeholder="127.0.0.1" aria-describedby="basic-addon1" ng-model="overview.ip_addr" required>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Port</span>
                <input type="text" class="form-control" placeholder="27020" aria-describedby="basic-addon2" ng-model="overview.port" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">
                    add
                </button>
            </div>
        </div>
    </div>
</form>
